<mat-toolbar class="navBar">
  <div>CREDMANTRA</div>
  <div>
    <span><a href="#">Home</a></span>
    <span>
      <!-- <button mat-button [matMenuTriggerFor]="belowMenu">Financial Tools <i class="arrowdown"></i> </button>
       <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item >Item 2</button>
      </mat-menu> -->
      <!-- <mat-form-field>
        <mat-label >Financial Tools</mat-label>
        <mat-select>
          <mat-option>
            <option value="Option 1"> Option 1</option>
            <option value="Option 2"> Option 2</option>
            <option value="Option 3">Option 3</option>
      
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <div class="dropdown">
        <b class="dropbtn">Financial Tools</b>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
      </div>
      <!-- <a class="dropbtn">Financial Tools</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div> -->
      
      
      </span>
    <span><a href="#">Credit Score</a></span>
    <span><a href="#">Blogs</a></span>
    <span><a href="#">Contact</a></span>
    <span><button mat-button class="btnSignUp">Sign Up</button></span>
  </div>
  
</mat-toolbar>


<div class="container">
  <h1 class="mainHeading">Get in Touch with us for <br> <br>more information</h1>
  <br><br>
  <h2 class="subHeading">if you need any help or have any questions, we're here for you</h2>
</div>
<!-- Cards with media area -->
<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    longText
  </mat-card-content>
</mat-card> -->

<div class="d-flex flex-row">
  <div class="card mx-auto" style="width: 14rem; height: 14rem; display: flex; z-index: 10;">
    <div class="card-body" style="text-align: center;">
      <p class="card-text">
        <i class="fa fa-briefcase" style="font-size: larger;" aria-hidden="true"></i>
      </p>
       <h1>Bussiness</h1> 
       <h3><i class="fa fa-envelope" style="font-size: large; color: #e0ce0b;" aria-hidden="true"> &nbsp;</i>xyz@gmail.com</h3>
       <h3><i class="fa fa-phone" style="font-size: large; color: #e0ce0b;" aria-hidden="true"> &nbsp;</i>986543212</h3>
      <p></p>
    </div>
  </div>
  
  <div class="card mx-auto" style="width: 14rem; height: 14rem; display: flex; z-index: 10;">
    <div class="card-body" style="text-align: center;">
      <p class="card-text">
        <i class="material-symbols-outlined" >
          monitoring
        </i>
      </p>
       <h1>Sales/Operations</h1> 
       <h3><i class="fa fa-envelope" style="font-size: large; color: #e0ce0b;" aria-hidden="true"> &nbsp;</i>xyz@gmail.com</h3>
       <h3><i class="fa fa-phone" style="font-size: large; color: #e0ce0b;" aria-hidden="true"> &nbsp;</i>986543212</h3>
      <p></p>
    </div>
  </div>
  <div class="card mx-auto" style="width: 14rem; height: 14rem; display: flex; z-index: 10;">
    <div class="card-body" style="text-align: center;">
      <p class="card-text">
        <i class="material-symbols-outlined">
          send_to_mobile
        </i>
      </p>
       <h1>Payments</h1> 
       <h3><i class="fa fa-envelope" style="font-size: large; color: #e0ce0b;" aria-hidden="true"> &nbsp;</i>xyz@gmail.com</h3>
       <h3><i class="fa fa-phone" style="font-size: large; color: #e0ce0b;" aria-hidden="true"> &nbsp;</i>986543212</h3>
      <p></p>
    </div>
  </div>

  <div class="card mx-auto" style="width: 14rem; height: 14rem; display: flex; z-index: 10;">
    <div class="card-body" style="text-align: center;">
      <p class="card-text">
        <i class="material-symbols-outlined">
            settings_alert
        </i>
      </p>
       <h1>Technology</h1> 
       <h3><i class="fa fa-envelope" style="font-size: large; color: #e0ce0b;" aria-hidden="true"> &nbsp;</i>xyz@gmail.com</h3>
       <h3><i class="fa fa-phone" style="font-size: large; color: #e0ce0b;" aria-hidden="true"> &nbsp;</i>986543212</h3>
      <p></p>
    </div>
  </div>
</div>


<div class="bottom">

</div>




